<%= form_with url: login_path do |f| %>
  <div class="form-row">
  <div class="col">
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="col">
    <%= f.submit "Set Username", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
