#chat {
  height: 100vh; // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;

  #navbar-container {
    flex: auto;
  }

  #messages-container {
    min-height: 70vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  #chat-controls-container {
    flex: auto;
  }
}

.message-box {
  width: fit-content;
}

.preview-box {
  max-width: 500px;
}

// Disable these elements on xs screens:

#chat-submit {
  display: none;
}

#chat-title {
  display: none;
}

// ===================================

@media (min-width: 576px) {
  #chat-submit {
    display: inline;
  }

  #chat-title {
    display: inline;
  }
}
